<nav class="navbar navbar-dark bg-dark navbar-expand-md px-3">
  
  <button class="navbar-toggler ms-auto" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mainNav"
          aria-controls="mainNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="mainNav">
    <div class="d-flex gap-3 flex-column flex-md-row">
      <a class="navbar-brand fs-4 nav-spark" href="index.html">Home</a>
      <a class="navbar-brand fs-4 nav-spark" href="games.html">Games</a>
      <!-- <a class="navbar-brand fs-4 nav-spark" href="about.html">About</a>
      <a class="navbar-brand fs-4 nav-spark" href="contact.html">Contact</a> -->
    </div>
  </div>

</nav>
